-# Be sure to also modify welcome_email.text.haml whenever editing this file

- @image_url = 'http://placehold.it/580x300'
- @unsubscribe_url = user_home_url

- content_for :title do
  Welcome #{@user.display_name}!

- content_for :lead do
  Thanks for signing up!
  / = succeed '.' do
  /   = link_to I18n.t('brand.name'), root_url

- content_for :callout do
  %p= I18n.t('emails.welcome.cta')

- content_for :action_button do
  = link_to I18n.t('emails.welcome.action_button'), root_url


%h3
  = I18n.t('emails.welcome.body_title')
  %small= I18n.t('emails.welcome.body_subtitle')
%p= I18n.t('emails.welcome.body')
