%header.navbar.navbar-fixed-top.navbar-default{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag( 'logo-header.png', :alt => I18n.t('brand.name')), root_path, :class => 'navbar-brand navbar-logo'
    %nav#navigation.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.is_admin?
            %li= link_to I18n.t('admin.link'), rails_admin_path, data: {"no-turbolink" => true}
          %li= link_to I18n.t('account.edit.link'), edit_user_registration_path
          %li= link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow
          / %li.dropdown
          /   %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}} 
          /     = render 'users/avatar', size: :tiny
          /     %b.caret
          /   %ul.dropdown-menu
          /     - if current_user.is_admin?
          /       %li= link_to I18n.t('admin.link'), rails_admin_path, data: {"no-turbolink" => true}
          /     %li= link_to I18n.t('account.edit.link'), edit_user_registration_path
          /     %li= link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow
        - unless user_signed_in?
          %li= link_to 'How', '#howitworks', 'data-target' => '#howitworks'
          %li= link_to 'Features', '#features', 'data-target' => '#features'
          %li= link_to 'Screenshots', '#screenshots', 'data-target' => '#screenshots'
          %li.end= link_to 'Get Started', new_user_registration_path
          / %li= link_to I18n.t('auth.login.link'), new_user_session_path

